body { background: #3f2f3d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 59px; display: flex; }
.block-payment-0 { color: #1d8581; font-size: 16px; margin-bottom: 5px; }
.block-search-1 { color: #ca44db; font-size: 21px; margin-bottom: 5px; }
.block-payment-2 { color: #2ea8af; font-size: 19px; margin-bottom: 5px; }
.block-cache-3 { color: #d9bdf3; font-size: 13px; margin-bottom: 5px; }
.block-sms-4 { color: #6a9fa3; font-size: 20px; margin-bottom: 5px; }